<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.it01.retrofitrx">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListDrawing" />
        <activity android:name=".activity.DetailDrawing" />
        <activity android:name=".activity.ToolbarActivity" />
        <activity android:name=".activity.Fr" />
        <activity android:name=".fragment.fragment1" />
        <activity android:name=".fragment.fragment2"></activity>
    </application>

</manifest>